// colors

$off-black: #30292F;
$off-white: #F9F8F8;
$dark-teal: #4B5E67;
$dark-blue: #3F4045; 
$tan: #CDD3CE;
$teal: #5D737E;

//spacing 
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
